{% extends "layout.html" %}                                                                                                       
{%block body %}                                                                                                                   
<div style=" border-radius: 20px; background-color: lightblue; width: 80%; min-width:300px; padding:10px 25px 25px 25px;
margin:100px;" >
    {% block body2 %}
    {% endblock %}
</div>

{% endblock %}                                                                                                                    